.wrapper {
    display: grid; 
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                         "content";
    width: 100vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
    
  }
  
  @media screen and (min-width: 850px) {
    .wrapper {
      grid-template-columns: 200px 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar content";
    }
  }
  
  
  
  /* SIDEBAR */
  
  main {
    grid-area: content;
    padding: 48px;
    /* background-image: linear-gradient(to right top,#f3f3e0,#f6eedc,#f8e9db,#f8e4db,#f6e0dc,#f6dfdf,#f6dfe2,#f4dfe6,#f6e2ec,#f7e5f2,#f8e8f8,#f8ecfe); */
    /* background-image: linear-gradient(to right top,#f3f3e0,#f6eedc,#f8e9db,#f8e4db,#f6e0dc,#f6dfdf,#f6dfe2,#f4dfe6,#f6e2ec,#f7e5f2,#f8e8f8,#f8ecfe); */
  }
  
  sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "logo menu avatar"
                         "copyright menu avatar";
                         background-image: linear-gradient(90deg,#efeaff 35%,#e2ebfb 95%);
  }
  .logo {
    border-left: 2px var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
  .avatar {
    border-left: 2px var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
    grid-area: avatar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .avatar__name {
    flex: 1;
    text-align: right;
    margin-right: 1em;
    color: #937cee;
  }

  
  .avatar__img > img {
    display: block;
  }
  
  .copyright {
    grid-area: copyright;
  }
  .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }
  .logo {
    grid-area: logo;
  }
  .menu__text {
    display: none;
  }
  
  @media screen and (min-width: 850px) {
    sidebar {
      grid-template-areas: "logo"
                           "avatar"
                           "menu"
                           "copyright";
      grid-template-columns: 1fr;
      grid-template-rows: 50px auto 1fr 50px;
    }
    
    .menu {
      flex-direction: column;
      align-items: normal;
      justify-content: flex-start;
    }
    .menu__text {
      display: inline-block;
    }
    .avatar {
      flex-direction: column;
    }
    .avatar__name {
      margin: 1em 0;
    }
    .avatar__img > img {
      border-radius: 50%;
    }
  }
  
  
  
  
  /* MAIN */
  
  .toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  /*.calendar{}*/
  
  .days,
  .calendar__header {
    display: flex;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    color: #937cee;
    
  }
  .days {
    display: flex;
    display: grid;
    /* auto row issue */
    text-align: right;
  }
  
  .calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
  }
  
  .calendar_container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(7); 
  }
  
  
  
  
  /* COSMETIC STYLING */
  
  :root {
    --red: #d7a1e9;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    color: #937cee;
  }
  
  sidebar {
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  main {
    
      background-image: radial-gradient(ellipse at right 80%,#cbe4fb 20%,#ebe5fd 60%);
    
  }
  
  .avatar__name {
    font-size: 0.8rem;
  }
  
  .menu__item {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 16px 16px 16px 14px;
    border-left: 4px solid transparent;
    color: transparent;
    text-decoration: none;
    transition: color ease 0.3s;
    margin-block: 1em;
    margin-bottom: 2em;
  }
  
  /* .menu__item--active .menu__icon {
    
  } */
  
  
  
  
  .menu__icon {
    font-size: 1.3rem;
  }
  
  @media screen and (min-width: 850px) {
    .menu__icon {
      font-size: 0.9rem;
      padding-right: 16px;
    }
    .menu__item--active {
      border-left: 2px var(--red);
      border-right: 2px var(--red);
      box-shadow: inset 10px 0px 17px -13px var(--red);
      
    }
  }
  
  .copyright {
    font-size: 0.7rem;
    font-weight: 400;
  }
  
  .calendar {
    background-color: transparent;
    color: pink
   
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    
  }

  
  .days > * {
    
    grid-auto-flow: column;
    border-radius: 15px;
    margin-right: 5px;
    padding: 10px;
    background-color: white;
    
  }

  
  .calendar_day1  {
    
    background-color: #E9967A(111,41,97,.4);
    border-radius: 15px;
    margin-right: 7px;
    padding: 10px;
    grid-column: 1;
    
    
  }

  
  .calendar__day:last-child {
    border-right: 0;
  }
  
  .login-container{
    padding: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
  }

  .login-container {
    display: block;
    margin-top: 1px;
    margin-left: 200px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    width: 25%;
    border:0.2em solid rgba(216,191,216,0.8);
 } 
  
  .login {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }


  /* Button and form details */

.bttn {
    background-color: #9cc5fc; /* Dark Salmon */
    border: none;
    color: white;
    padding: 4px 10px;
    
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }

  .bttn:hover {background-color: #dbbfe4;
  }
  
  .bttn:active {
    background-color: #dbbfe4;
    box-shadow: 0 5px rgb(248, 227, 227);
    transform: translateY(4px);
  }

  .submit_button {
    background-color: #9cc5fc; /* Dark Salmon */
    border: none;
    color: white;
    padding: 4px 10px;
    margin: 1em;
    margin-bottom: 8em;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }

  .submit_button:hover {background-color: #dbbfe4;
  }
  
  .submit_button:active {
    background-color: #dbbfe4;
    box-shadow: 0 5px rgb(248, 227, 227);
    transform: translateY(4px);
  }
  
  .onClickButton {
    background-color: #9cc5fc; /* Dark Salmon */
    border: none;
    color: white;
    padding: 4px 10px;
    
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
  }

  .onClickButton:hover {background-color: #dbbfe4;
  }
  
  .onClickButton:active {
    background-color: #dbbfe4;
    box-shadow: 0 5px rgb(248, 227, 227);
    transform: translateY(4px);
  }

.form {
    color: #937cee;
}

/* important text colors and bold */

.avatar__name {
    color: #E9967A;
    font-size: 20px;
}

.menu__text {
    color: #E9967A;
    font-size: 15px; 
}

/* .product_list {
    color: #E9967A;
    font-size: 14px; 
} */

.new_product_name{
  color: #937cee;
  font-size: 18px; 
}
.new_product_brand{
  color: #937cee;
  font-size: 15px; 
}

.new_product_ingredient{
  color: #937cee;
  font-size: 15px; 
}
.my-routine {
    color: #E9967A; 
    margin-left: 6em;

}

.my-routine-byline {
  margin-left: 6.5em;
}

/* drop dowm */

.hide {
  max-height: 0 !important;
}

.dropdown{
border: 0.1em solid black;
width: 10em;
margin-bottom: 1em;
}

.dropdown .title{
margin: .3em .3em .3em .3em;	
width: 100%;
}

.dropdown .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdown .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdown .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdown .menu .option:hover{
background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}

/* drag and drop */


/* login form */



input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(rgb(247, 116, 197), #d7A1e9);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 14px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(#d7A1e9, #d7A1e9);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Helvetica;
  padding: 0px 2px;
  border-radius: 8px;
  border-width: 2px;
  border-style: inset;
  border-color: #d7A1e9;
  border-image: initial;
  outline: none;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

.form {
  
  display: block;
  margin-top: -2em;
  margin-block-end: -3em;
  margin-block-start: 0em;
  margin-left: 0em;
  padding: 0em;
  padding-left: 0;
  position: relative;
  
}

.avatarname ol {
  text-shadow: 2px 2px 4px rgb(0 0 0 / 75%); 
  color: white; 
  font-size: 16;
  display: none;
  position: center;
  font-size: 15px;
}
.avatarname ol:last-of-type {
  text-shadow: 2px 2px 4px rgb(0 0 0 / 75%); 
  color: white; 
  font-size: 18;
  display: block;
  position: relative;
  font-size: 15px;
}

/* input[type=submit] {
  margin-left: 5px;
  padding: 5px;
  background: #ccc;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border: 1px solid;
  background-color: DodgerBlue;
  border-color: #CCCCCC;
  color: #fff;
}
 */
